body{
	background-color:#D4FFD2;;
	color: #378694;
	font-family:Algerian;
	text-align: left; 


}

img{
	text-align: center;
	width: 600px;
	height: 600px;
	
	
	
}

h1{
	text-align: center;
}ss